NEXTAUTH_SECRET=
GITHUB_SECRET=
GITHUB_ID=Iv1.abc123
GITHUB_PRIVATE_KEY=-----BEGIN RSA PRIVATE KEY-----\n
GITHUB_APP_ID=
GITHUB_INSTALLATION_ID=

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_URL_INTERNAL=http://127.0.0.1:3000

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DB_UNAME=uname
DB_PWD=pwd
DB_HOST=host
DB_PORT=port
DB_DATABASE=db
DATABASE_URL=mysql://${DB_UNAME}:${DB_PWD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}

DOCKER_DB_UNAME=uname
DOCKER_DB_PWD=pwd
DOCKER_DB_HOST=host.docker.internal # don't change this is what worked ("database" does not work...) 
DOCKER_DB_PORT=port
DOCKER_DB_DATABASE=db
DOCKER_DATABASE_URL=mysql://${DOCKER_DB_UNAME}:${DOCKER_DB_PWD}@${OCKER_DB_HOST}:${DOCKER_DB_PORT}/${DOCKER_DB_DATABASE}

EPOCH=1601251200
# Must be between 0 to 31 inclusive
DATA_CENTER_ID=0
# Must be between 0 to 31 inclusive
MACHINE_ID=0

REDIS_PASSWORD=pwd
REDIS_HOST=localhost # don't change
REDIS_PORT=6379
REDIS_URL=redis://default:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}

DOCKER_REDIS_PASSWORD=pwd
DOCKER_REDIS_HOST=host.docker.internal # don't change
DOCKER_REDIS_PORT=6379
DOCKER_REDIS_URL=redis://default:${DOCKER_REDIS_PASSWORD}@${DOCKER_REDIS_HOST}:${DOCKER_REDIS_PORT}
